@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    font-weight: normal;
    margin: 5% auto;
    padding: 0;
 
}

.wrap {
    width: 500px;
    background-color: rgba(45, 173, 88, 0.3);
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    padding: 2em;

}
    
label {
    width: 30%;
    display: inline-block;
    font-style: italic;
    margin: .5em auto;
}

h2 {
    padding-bottom: 0.5em;
    border-bottom: 0.1em dotted silver;
    text-align: center;
}
.btn {
    display: flex;
    flex-direction: row;
    margin-top: .5em;
    margin-left: 38%;
}

.btn input {
    background-color: silver;
    border-color: silver;
    border-radius: 5px;
    cursor: pointer;
}

.btn input[type="submit"]:hover {
    background-color: blue;
    color: black
}

.btn input[type="submit"]:active {
    background-color: red;
    color: white;
}

.btn input[type="reset"]:hover {
    background-color: blue;
    color: black
}

btn input[type="reset"]:active {
    background-color: red;
    color: white;
}

a {
    color: black;
    text-decoration: none;
    margin-left: 42%;
}

a:hover {
    color: blue;
}

a:active {
    color: red;
}

input:required:focus {
    background-color: gold;
  }

textarea:disabled {
    background-color: gray;
}

